.container {
  padding: 30px 50px 10px;

  .game-container {
    text-align: center;
    background: #221C5C;
    border-radius: 25px;

    section {
      padding: 20px;

      .currentProblem label, .currentProblem input{
        display: block;
      }

      .currentProblem label {
        font-size: 19px;
        line-height: 28px;
        padding: 0 45px;
        color: #fff;
      }

      .currentProblem input {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 30px;
        width: 75%;
        padding: 12px 20px;
        border-radius: 50px;
        border: transparent;
        outline: none;
        font-size: 20px;
      }
    }

  }
}
